
<table id="mygrid">
	<tr>
		<th class="mygrid_header_1">Company</th>
		<th class="mygrid_header_2">Contact</th>
		<th class="mygrid_header_3">Collection</th>
	</tr>
	<tr>
		<td class="mygrid_data_column_1"><a href="#">Baby Turtles</a></td>
		<td class="mygrid_data_column_2">Are The Best</td>
		<td class="mygrid_data_column_3">Direction</td>
	</tr>
	<tr>
		<td class="mygrid_data_column_1"><a href="#">Baby Turtles</a></td>
		<td class="mygrid_data_column_2">Are The Best</td>
		<td class="mygrid_data_column_3">UX/UI</td>
	</tr>
	<tr>
		<td class="mygrid_data_column_1"><a href="#">Baby Turtles</a></td>
		<td class="mygrid_data_column_2">Are The Best</td>
		<td class="mygrid_data_column_3">Direction</td>
	</tr>
	<tr>
		<td class="mygrid_data_column_1"><a href="#">Baby Turtles</a></td>
		<td class="mygrid_data_column_2">Are The Best</td>
		<td class="mygrid_data_column_3">Design</td>
	</tr>
	<tr>
		<td class="mygrid_data_column_1"><a href="#">Baby Turtles</a></td>
		<td class="mygrid_data_column_2">Are The Best</td>
		<td class="mygrid_data_column_3">UX/UI</td>
	</tr>
	<tr>
		<td class="mygrid_data_column_1"><a href="#">Baby Turtles</a></td>
		<td class="mygrid_data_column_2">Are The Best</td>
		<td class="mygrid_data_column_3">UX/UI</td>
	</tr>
	<tr>
		<td class="mygrid_data_column_1"><a href="#">Baby Turtles</a></td>
		<td class="mygrid_data_column_2">Are The Best</td>
		<td class="mygrid_data_column_3">Design</td>
	</tr>
	<tr>
		<td class="mygrid_data_column_1"><a href="#">Baby Turtles</a></td>
		<td class="mygrid_data_column_2">Are The Best</td>
		<td class="mygrid_data_column_3">Design</td>
	</tr>

</table>