<!DOCTYPE html>

<!-- kapor_did_this -->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
<title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title> 
<meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
<link rel="canonical" href="{{site.baseurl}}{{page.url}}">
<link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.png">
<script rel="stylesheet" href="{{site.baseurl}}/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2010.07.06dev/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="{{site.baseurl}}/css/fonts/AtlasTypewriter-Light-Web.css">
<link rel="stylesheet" href="https://use.typekit.net/bff2sws.css">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/images/icon/favicon.svg">
<link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/special.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/special_panda.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/iop.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/hp.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/matter.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/fonts/fonts.css">


<!-- ++++++++++ SIDE-BAR NAV STATES ++++++++++ -->

<script type="text/javascript">

let elements = ['.menu_row', '#mygrid_data_column_1'];

// Add class on mouseover
document.querySelectorAll(elements).forEach(element => {
	element.addEventListener('mouseover', () => {
		element.classList.add(':hover');
	}); 
});

// Remove class on mouseout
document.querySelectorAll(elements).forEach(element => {
	element.addEventListener('mouseout', () => {
		element.classList.remove(':hover');
	});
});

</script>

<!-- ++++++++++ MENU SCROLL INDICATOR ++++++++++ -->





<script type="text/javascript">



var container = document.getElementById("big_2"),
	element = document.getElementsByTagName("section"),
    menu_row = document.getElementsByClassName("menu_row"),
    i;

const padding = container - 320;

function checkInView(container, element) {

    //Get container properties
    let cTop = container.scrollTop;
    let cBottom = cTop + container.clientHeight;
    //Get element properties
    let eTop = element.offsetTop - container.offsetTop;
    let eBottom = eTop + element.clientHeight;
    //Check if in view    
    let isTotal = (eTop >= cTop && eBottom <= cBottom);

};


document.onscroll = function () {
    
    for ( i = 0 ; i < element.length ; i++ ) {
        
        if ( window.scrollY > element[i].offsetTop + padding && window.scrollY < element[i].offsetTop + element[i].clientHeight + padding ) {
            menu_row[i].classList.add("menu_row_active");
            //console.log("Truthy");
        }
        else {
            menu_row[i].classList.remove("menu_row_active");
            //console.log("Equal to true");
        }
    }
};


</script>


</head>
<body class="no-scroll">



<!-- ++++++++++ nav ++++++++++ -->

{% include nav.html %}

<!-- ++++++++++ main content ++++++++++ -->

<div class="lotsofstuff">
	<div id="big_1">

	{% include sidebar1.html %}

	</div>

	<div id="big_2">

	{{content}}
	</div>
</div>

	<button onclick="topFunction()" id="top_button" class="top_button" title="top">TOP</button>
<div class="left_white"></div>

<!-- ++++++++++ CURRENT PAGE INDICATOR ++++++++++ -->

<script type="text/javascript">
const currentUrl = window.location.pathname+window.location.search;
//let url = document.write(str.replace(/^(?:\/\/|[^/]+)*\//, ''));
console.log(currentUrl);

document.querySelectorAll("#mygrid_data_column_1").forEach((link) => {
    if (link.href === window.location.href) {
        link.parentNode.parentNode.classList.add("menu_highlight");
        link.setAttribute("aria-current", "page");
    }
});




</script>

<!--+++++++++++++++++++++++ BACK TO TOP +++++++++++++++++++++++-->

<script>

window.addEventListener('scroll', function(e) {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById('top_button').classList.add('scrolled');
    } else {
      document.getElementById('top_button').classList.remove('scrolled');
    }
});

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>




</body>
</html>


