---
title: page
---

<link rel="canonical" href="{{site.baseurl}}{{page.url}}">
<link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.png">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/special.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/hp.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/matter.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/fonts/fonts.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/iop.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/fonts/AtlasTypewriter-Light-Web.css">
<link rel="stylesheet" href="https://use.typekit.net/bff2sws.css">
<script rel="stylesheet" href="{{site.baseurl}}/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2010.07.06dev/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>

<main role="main" class="cf">
    <article role="article">
        {{content}}
    </article>
</main>
